body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* BASIC */

html {
  background-color: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}


/* STRUCTURE */


#root{
  height:100%
}



.submit{
  cursor: pointer;
}




